body {
  font-family: 'Arvo', serif;
  background-color: #A5E3FF;
  color: #000E2B;
  font-size: 1em;
  padding: 1em;
}

h1
 {
  font-family: 'Permanent Marker', cursive;
  color: #6875FF;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
}

h2,
h3
 {
  font-family: 'Permanent Marker', cursive;
  color: #6875FF;
  font-size: 2em;
  text-align: center;
}

a,
a:link {
  color: #6875FF;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #F6FFFE;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #6875FF;
  color: #3EFFEC;
  text-align: center;
  padding: .5%;
  border-radius: 30px;
}
.icon-github {
  color: #3EFFEC;
}

